@import '../../../../styles/customMediaQueries.css';
.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
}

.priceCurrencyInvalid {
  color: var(--colorFail);
}

.heading {
  padding: 0;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 28px;

  @media (--viewportMedium) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 40px;
  }
}

.infoText {
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightMedium);
  font-size: 16px;
  line-height: 24px;
  color: var(--colorGrey700);
  margin-top: 0;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    font-size: 16px;
    line-height: 24px;
  }
}
