@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.defaultUserFields {
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(34% - 9px);
}

.lastNameRoot {
  width: calc(66% - 9px);
}

.password {
  composes: marketplaceModalPasswordMargins from global;
}

.homeAddress {
  margin-top: 0;
}

.homeAddress :global(.LocationAutocompleteInput_icon__f-F0V) {
  display: none;
}

.homeAddressWrapper {
  padding-top: 5px;
}

.homeAddressWrapper :global(.marketplaceModalHelperText) {
  margin-top: 8px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.homeAddress :global(.IconLocation_root__ZDDw1) {
  width: 20px;
  height: 20px;
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
}

.row,
.customFields {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}
