@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
}

.heading {
  padding: 0;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 28px;

  @media (--viewportMedium) {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media (--viewportLarge) {
  .form {
    max-width: 635px;
  }
}